__pycache__
venv
.env
.cache
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform-version
.terraform.lock.hcl
.terraform.tfstate.lock.info
temp/
tfplan
checkpoint/
spark-warehouse/
delta_checkpoint.txt
dbt/spotify_project/package-lock.yml
dbt/logs/
dbt/spotify_project/.user.yml
airflow/logs
airflow/.env
.vscode/settings.json
.lh/
airflow/dags/my_dbt.py
airflow/dags/test_databricks.py
